<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>synchronizefestival</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <nav>
      <div class="wrapper">
        <div class="logo"><a href="">synchronizefestival</a></div>
        <div class="menu">
          <ul>
            <li><a href="#home">HOME</a></li>
            <li><a href="#courses">TICKET</a></li>
            <li><a href="#tutors">LINE UP</a></li>
            <li><a href="#partners">SPONSOR</a></li>
            <li><a href="#contact">CONTACT US</a></li>
            <li><a href="" class="tbl-biru">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper">
      <section id="home">
        <img
          src="https://img.freepik.com/premium-photo/man-solo-traveling-backpacker-animation_183364-48237.jpg?size=626&ext=jpg&ga=GA1.1.1378219598.1699148576&semt=ais"
        />
        <div class="kolom">
          <p class="deskripsi">Kampus H Gunadarma 17 November 2023</p>
          <h2>synchronizefestival</h2>
          <p>
            synchronizefestival adalah festival musik tahunan Universitas
            Gunadarma yang mengundang ratusan audience untuk merayakan
            keberagaman jenis musik hidup di satu panggung selama satu hari.
          </p>
          <p><a href="" class="tbl-pink">Saksikan Kemeriahannya</a></p>
        </div>
      </section>
      <section id="courses">
        <div class="kolom">
          <p class="deskripsi">It’s not just a Festival, it’s a Movement</p>
          <h2>Buy Tickets Now !</h2>
          <p>
            Nikmati suguhan pertunjukan terkurasi dari artis-artis terfavorit
            dan terbaik tanah air. seluruh genre musik populer bakal ditampilkan
            di synchronizefestival
          </p>
          <p>
            <a
              href="https://sandbox.doku.com/p-link/p/0QxPVRz"
              target="_blank"
              class="tbl-biru"
              >BUY NOW !!!</a
            >
          </p>
        </div>
        <img
          src="https://img.freepik.com/free-photo/several-movie-tickets_1101-1007.jpg?size=626&ext=jpg&ga=GA1.1.1378219598.1699148576&semt=ais"
        />
      </section>
      <section id="tutors">
        <div class="tengah">
          <div class="kolom">
            <p class="deskripsi">SPECIAL</p>
            <h2>LINE UP</h2>
            <p>Di meriahkan artis-artis terhits dan terbaik tanah air.</p>
          </div>

          <div class="tutor-list">
            <div class="kartu-tutor">
              <img
                src="https://www.synchronizefestival.com/assets/images/lineup/SF2023_SPECIAL_LINEUP_01.jpg"
              />
              <p>Soneta X Dipha Barus</p>
            </div>
            <div class="kartu-tutor">
              <img
                src="https://www.synchronizefestival.com/assets/images/lineup/SF2023_SPECIAL_LINEUP_03.jpg"
              />
              <p>Iwan Fals X Sawung Jabo</p>
            </div>
            <div class="kartu-tutor">
              <img
                src="https://www.synchronizefestival.com/assets/images/lineup/SF2023_SPECIAL_LINEUP_04.jpg"
              />
              <p>Fariz RM</p>
            </div>
            <div class="kartu-tutor">
              <img
                src="https://www.synchronizefestival.com/assets/images/lineup/SF2023_SPECIAL_LINEUP_06.jpg"
              />
              <p>Melly Goeslaw</p>
            </div>
          </div>
        </div>
      </section>
      <section id="partners">
        <div class="tengah">
          <div class="kolom">
            <p class="deskripsi">Thanks To</p>
            <h2>OUR BEST SPONSOR & SUPPORT</h2>
            <p>
              synchronizefestival di sponsori dan di dukung oleh brand-brand
              ternama di Indonesia.
            </p>
          </div>
          <div class="partner-list">
            <div class="kartu-partner">
              <img
                src="https://png2.cleanpng.com/sh/281caf23951f2c817ed63acb9c0c56f7/L0KzQYm3VcA5N5pnj5H0aYP2gLBuTfpic5J3jNM2c4TkhLa0lf5qfpZ3i9t9eT34frr9hgJ0caVmi59wdX7kdLL5jfEuc5IyTdNvMkG3R4GAgsQ5P2QzTKICNkG4RIi4VcI2QGI5S6o9NUC4PsH1h5==/kisspng-jakarta-state-university-universitas-gunadarma-ka-5af214707b4873.407615471525814384505.png"
              />
            </div>
            <div class="kartu-partner">
              <img
                src="https://studio.mrngroup.co/storage/app/media/Prambors/Editorial/Logo%20Prambors%20-20210302082714.jpg?tr=w-600"
              />
            </div>
            <div class="kartu-partner">
              <img
                src="https://i.pinimg.com/originals/88/ca/8f/88ca8f1b4ca99b0d2a5c571ddfc56683.jpg"
              />
            </div>
            <div class="kartu-partner">
              <img
                src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/medium//94/MTA-5238472/MARLBORO_Medan_-_MARLBORO_Filter_Merah_Rokok_-20_Batang-_Bungkus-_full01_e2a1jlw.jpg"
              />
            </div>
            <div class="kartu-partner">
              <img
                src="https://i.pinimg.com/originals/3b/b5/09/3bb50942d3ba57f0a730b9024685b456.jpg"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="contact">
      <div class="wrapper">
        <div class="footer">
          <div class="footer-section">
            <h3>Date & Venue</h3>
            <p>Kampus H Gunadarma 17 November 2023</p>
          </div>
          <div class="footer-section">
            <h3>About</h3>
            <p>
              synchronizefestival adalah festival musik tahunan Universitas
              Gunadarma yang mengundang ratusan audience untuk merayakan
              keberagaman jenis musik hidup di satu panggung selama satu hari.
            </p>
          </div>
          <div class="footer-section">
            <h3>Contact</h3>
            <p>Kelompok 4 AP3</p>
            <p>Dhias Ulhaq Widjarnako</p>
            <p>Dewangga Megananda</p>
            <p>Dicky Satrio K IM</p>
            <p>Winda Oktavia Marito Panjait</p>
          </div>
          <div class="footer-section">
            <h3>Social</h3>
            <p><b>Instagram: </b>synchronizefestival</p>
            <p><b>Instagram Admin: </b>rincemberr</p>
          </div>
        </div>
      </div>
    </div>
    <div id="copyright">
      <div class="wrapper">
        &copy; 2023. <b>synchronizefestival</b> All Rights Reserved.
      </div>
    </div>
  </body>
</html>
